<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>主要成績野手ver</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>背番号</th>
        <th>選手名</th>
        <th>試合</th>
        <th>打率</th>
        <th>本塁打</th>
        <th>OPS</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>
            <span th:text="${num}">55</span>
        </td>
        <td>
            <span th:text="${playerName}">松井秀喜</span>
        </td>
        <td>
            <span th:text="${gameNum}">144</span>
        </td>
        <td>
            <span th:text="${#numbers.formatDecimal(battingAverage, 0, 3)}">.330</span>
        </td>
        <td>
            <span th:text="${homeRun}">50</span>
        </td>
        <td>
                <span th:if="${onBasePlusSlugging != null}">
                    <span th:text="${#numbers.formatDecimal(onBasePlusSlugging, 1, 3)}">1.092</span>
                </span>
                <span th:if="${onBasePlusSlugging2 != null}">
                    <span th:text="${#numbers.formatDecimal(onBasePlusSlugging2, 0, 3)}">.852</span>
                </span>
        </td>
    </tr>
    </tbody>

</table>
<button type="submit" onclick="location.href='./input-batter'" class="button">成績登録</button>
</body>
</html>