<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>選手一覧</title>
</head>
<body>
<!--<form method="get" th:action="@{/player-list}"> &lt;!&ndash; ←{playerList}から変更0618.9:30 &ndash;&gt;-->
    <table>
        <thead>
        <tr>
            <th>背番号</th>
            <th>選手名</th>
            <th>ポジション</th>
            <th>チーム</th>
            <th>試合</th>
            <th>打率</th>
            <th>本塁打</th>
            <th>打点</th>
            <th>OPS</th>
        </tr>

        </thead>
        <tbody>
        <div th:each="playerList:${playerList}">
            <tr>
                <td>
                    <span th:text="${playerList.num}">55</span>
                </td>
                <td>
                    <a th:href="${playerList.link}" th:text="${playerList.name}">松井秀喜</a>
                </td>
                <td>
                    <span th:text="${playerList.position}">ポジション</span>
                </td>
                <td>
                    <span th:text="${playerList.team}">チーム</span>
                </td>
                <td>
                    <span th:text="${playerList.countGame}">144</span>
                </td>
                </td>
                <td>
                    <span th:text="${#numbers.formatDecimal(playerList.battingAverage, 0, 3)}">.330</span>
                </td>
                <td>
                    <span th:text="${playerList.homeRun}">50</span>
                </td>
                <td>
                    <span th:text="${playerList.runBattedIn}">120</span>
                </td>
                <td>
<!--                <span th:if="${playerList.onBasePercentagePlusSlugging != null}">-->
                    <span th:text="${#numbers.formatDecimal(playerList.onBasePercentagePlusSlugging, 1, 3)}">1.092</span>
<!--                </span>-->
<!--                    <span th:if="${playerList.onBasePercentagePlusSlugging2 != null}">-->
<!--                        <a th:href="${playerList.onBasePercentagePlusSlugging2}" th:text="${#numbers.formatDecimal(playerList.onBasePercentagePlusSlugging2, 0, 3)}">.852</a>-->
<!--                </span>-->
                </td>
            </tr>
        </div>
        </tbody>

    </table>
    <button type="submit" onclick="location.href='./input-player'" class="button">選手登録</button>
</form>
</body>
</html>
